doctype html
html
  head
    title Historial de Generaciones
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1 Historial de Generaciones

    if generaciones.length
      div.responsive-table
        table
          thead
            tr
              th Fecha y Hora
              th Distribución
              th Parámetros
              th Resultados
              th Gráfica
              th Descargar
          tbody
            each generacion in generaciones
              tr
                td
                  // Convertir la fecha a zona horaria de México
                  span #{new Date(generacion.fecha_hora).toLocaleString('es-MX', { timeZone: 'America/Mexico_City' })}
                td= generacion.distribucion
                td
                  // Mostrar parámetros como una lista
                  ul
                    if generacion.parametros
                      each value, key in generacion.parametros
                        li #{key}: #{value}
                    else
                      li No disponible
                td
                  // Mostrar resultados como una lista
                  ul
                    if generacion.resultados
                      each value, key in generacion.resultados
                        li #{key}: #{value}
                    else
                      li No disponible
                td
                  if generacion.grafica
                    img(src=`data:image/png;base64,${generacion.grafica}` alt="Gráfica")
                  else
                    span No disponible
                td 
                  if generacion.archivo_descarga
                    a(href=`/descargar/${generacion.id_generacion}`) Descargar
                  else
                    span No disponible
    else
      p No hay generaciones registradas.
